<?xml version="1.0"?>
<robot name="D:/school/CPSC_Courses/CPSC_354/pulse/webots/controllers/test2/arm1.urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.2"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.2"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_motor" type="revolute">
    <parent link="base_link"/>
    <child link="solid"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" lower="-3.14159" upper="3.14159" velocity="10"/>
    <origin xyz="0 0 0.15" rpy="0 0 0"/>
  </joint>
  <link name="solid">
  </link>
  <joint name="shoulder_motor" type="revolute">
    <parent link="solid"/>
    <child link="solid(1)"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="-3.14159" upper="3.14159" velocity="10"/>
    <origin xyz="0.05 0 0" rpy="0 0 0"/>
  </joint>
  <link name="solid(1)">
  </link>
  <link name="solid_0">
  </link>
  <joint name="solid(1)_solid_0_joint" type="fixed">
    <parent link="solid(1)"/>
    <child link="solid_0"/>
    <origin xyz="0.03 0 0.12" rpy="0 0 0"/>
  </joint>
  <joint name="elbow_motor" type="revolute">
    <parent link="solid_0"/>
    <child link="solid_1"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="-3.14159" upper="3.14159" velocity="10"/>
    <origin xyz="-0.03 0 0.125" rpy="0 0 0"/>
  </joint>
  <link name="solid_1">
  </link>
  <link name="solid_2">
  </link>
  <joint name="solid_1_solid_2_joint" type="fixed">
    <parent link="solid_1"/>
    <child link="solid_2"/>
    <origin xyz="-0.03 0 0.075" rpy="0 0 0"/>
  </joint>
  <joint name="forearm_motor" type="revolute">
    <parent link="solid_2"/>
    <child link="solid_3"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="-3.14159" upper="3.14159" velocity="10"/>
    <origin xyz="0.03 0 0.075" rpy="0 0 0"/>
  </joint>
  <link name="solid_3">
  </link>
  <link name="solid_4">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.15"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.15"/>
      </geometry>
    </collision>
  </link>
  <joint name="solid_3_solid_4_joint" type="fixed">
    <parent link="solid_3"/>
    <child link="solid_4"/>
    <origin xyz="0.03 0 0.05" rpy="0 0 0"/>
  </joint>
  <joint name="wrist_motor" type="revolute">
    <parent link="solid_4"/>
    <child link="solid_5"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" lower="-3.14159" upper="3.14159" velocity="10"/>
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
  </joint>
  <link name="solid_5">
  </link>
  <link name="solid_6">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="solid_5_solid_6_joint" type="fixed">
    <parent link="solid_5"/>
    <child link="solid_6"/>
    <origin xyz="0 0 0.03" rpy="0 0 0"/>
  </joint>
  <link name="ROBOTIQ 2F-140 Gripper">
    <visual>
      <origin xyz="0 0 0.018" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0375" length="0.036"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.018" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0375" length="0.036"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.055" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.04" length="0.023"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.055" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.04" length="0.023"/>
      </geometry>
    </collision>
  </link>
  <joint name="solid_6_ROBOTIQ 2F-140 Gripper_joint" type="fixed">
    <parent link="solid_6"/>
    <child link="ROBOTIQ 2F-140 Gripper"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="hingejoint" type="revolute">
    <parent link="ROBOTIQ 2F-140 Gripper"/>
    <child link="right inner knuckle"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0 0.0127 0.06142" rpy="2.295796 0 3.141593"/>
  </joint>
  <link name="right inner knuckle">
    <visual>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0059" length="0.0394"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0059" length="0.0394"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0677 -0.0013" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.0246 0.076 0.0121"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0677 -0.0013" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.0246 0.076 0.0121"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0035 0.101 -0.0023" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0058" length="0.032"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0035 0.101 -0.0023" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0058" length="0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="ROBOTIQ 2F-140 Gripper::right finger joint" type="revolute">
    <parent link="ROBOTIQ 2F-140 Gripper"/>
    <child link="right outer knuckle"/>
    <axis xyz="-1 0 0"/>
    <limit effort="0.12" lower="0" upper="0.7" velocity="2"/>
    <origin xyz="0 0.030601 0.054905" rpy="2.295796 0 -3.141593"/>
  </joint>
  <link name="right outer knuckle">
    <visual>
      <origin xyz="0 0.002 0.004" rpy="0.9 0 0"/>
      <geometry>
        <box size="0.009 0.063 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.002 0.004" rpy="0.9 0 0"/>
      <geometry>
        <box size="0.009 0.063 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0209 0.019" rpy="0.95 0 0"/>
      <geometry>
        <box size="0.009 0.02 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0209 0.019" rpy="0.95 0 0"/>
      <geometry>
        <box size="0.009 0.02 0.02"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.004" length="0.017"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.004" length="0.017"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0218 0.0136" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.003" length="0.024"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0218 0.0136" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.003" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="right outer finger">
    <visual>
      <origin xyz="0 0.0511 -0.02" rpy="-0.2618 0 0"/>
      <geometry>
        <box size="0.025 0.074 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0511 -0.02" rpy="-0.2618 0 0"/>
      <geometry>
        <box size="0.025 0.074 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.006 -0.004" rpy="2.56 0 0"/>
      <geometry>
        <box size="0.025 0.026 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.006 -0.004" rpy="2.56 0 0"/>
      <geometry>
        <box size="0.025 0.026 0.012"/>
      </geometry>
    </collision>
  </link>
  <joint name="right outer knuckle_right outer finger_joint" type="fixed">
    <parent link="right outer knuckle"/>
    <child link="right outer finger"/>
    <origin xyz="0 0.01822 0.026002" rpy="0 0 0"/>
  </joint>
  <joint name="hingejoint_7" type="revolute">
    <parent link="right outer finger"/>
    <child link="ROBOTIQ 2F-140 Gripper right inner finger"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0 0.081755 -0.0282" rpy="-0.725 0 0"/>
  </joint>
  <link name="ROBOTIQ 2F-140 Gripper right inner finger">
    <visual>
      <origin xyz="0 0.021013 -0.018015" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.047 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.021013 -0.018015" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.047 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.003013 -0.008015" rpy="-1.2 0 0"/>
      <geometry>
        <box size="0.015 0.029 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.003013 -0.008015" rpy="-1.2 0 0"/>
      <geometry>
        <box size="0.015 0.029 0.012"/>
      </geometry>
    </collision>
  </link>
  <link name="right inner finger pad">
  </link>
  <joint name="ROBOTIQ 2F-140 Gripper right inner finger_right inner finger pad_joint" type="fixed">
    <parent link="ROBOTIQ 2F-140 Gripper right inner finger"/>
    <child link="right inner finger pad"/>
    <origin xyz="0 0.045768 -0.027235" rpy="-0.01 0 0"/>
  </joint>
  <joint name="hingejoint_8" type="revolute">
    <parent link="ROBOTIQ 2F-140 Gripper"/>
    <child link="left inner knuckle"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0 -0.0127 0.06142" rpy="2.295796 0 0"/>
  </joint>
  <link name="left inner knuckle">
    <visual>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0059" length="0.0394"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0059" length="0.0394"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0158 0.018 -0.0003" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.007 0.038 0.0121"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0677 -0.0013" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.0246 0.076 0.0121"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0677 -0.0013" rpy="-0.02 0 0"/>
      <geometry>
        <box size="0.0246 0.076 0.0121"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0035 0.101 -0.0023" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0058" length="0.032"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0035 0.101 -0.0023" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.0058" length="0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="ROBOTIQ 2F-140 Gripper::left finger joint" type="revolute">
    <parent link="ROBOTIQ 2F-140 Gripper"/>
    <child link="left outer knuckle"/>
    <axis xyz="-1 0 0"/>
    <limit effort="0.12" lower="0" upper="0.7" velocity="2"/>
    <origin xyz="0 -0.030601 0.054905" rpy="2.295796 0 0"/>
  </joint>
  <link name="left outer knuckle">
    <visual>
      <origin xyz="0 0.002 0.004" rpy="0.9 0 0"/>
      <geometry>
        <box size="0.009 0.063 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.002 0.004" rpy="0.9 0 0"/>
      <geometry>
        <box size="0.009 0.063 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0209 0.019" rpy="0.95 0 0"/>
      <geometry>
        <box size="0.009 0.02 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0209 0.019" rpy="0.95 0 0"/>
      <geometry>
        <box size="0.009 0.02 0.02"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.004" length="0.017"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.004" length="0.017"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0218 0.0136" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.003" length="0.024"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0218 0.0136" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.003" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="left outer finger">
    <visual>
      <origin xyz="0 0.0511 -0.02" rpy="-0.2618 0 0"/>
      <geometry>
        <box size="0.025 0.074 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0511 -0.02" rpy="-0.2618 0 0"/>
      <geometry>
        <box size="0.025 0.074 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.006 -0.004" rpy="2.56 0 0"/>
      <geometry>
        <box size="0.025 0.026 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.006 -0.004" rpy="2.56 0 0"/>
      <geometry>
        <box size="0.025 0.026 0.012"/>
      </geometry>
    </collision>
  </link>
  <joint name="left outer knuckle_left outer finger_joint" type="fixed">
    <parent link="left outer knuckle"/>
    <child link="left outer finger"/>
    <origin xyz="0 0.01822 0.026002" rpy="0 0 0"/>
  </joint>
  <joint name="hingejoint_9" type="revolute">
    <parent link="left outer finger"/>
    <child link="ROBOTIQ 2F-140 Gripper left inner finger"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0 0.081755 -0.02822" rpy="-0.725 0 0"/>
  </joint>
  <link name="ROBOTIQ 2F-140 Gripper left inner finger">
    <visual>
      <origin xyz="0 0.021 -0.018" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.047 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.021 -0.018" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.047 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.003 -0.008" rpy="-1.2 0 0"/>
      <geometry>
        <box size="0.015 0.029 0.012"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.003 -0.008" rpy="-1.2 0 0"/>
      <geometry>
        <box size="0.015 0.029 0.012"/>
      </geometry>
    </collision>
  </link>
  <link name="left inner finger pad">
  </link>
  <joint name="ROBOTIQ 2F-140 Gripper left inner finger_left inner finger pad_joint" type="fixed">
    <parent link="ROBOTIQ 2F-140 Gripper left inner finger"/>
    <child link="left inner finger pad"/>
    <origin xyz="0 0.045755 -0.02722" rpy="-0.01 0 0"/>
  </joint>
</robot>
